.custom-components-container {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  .controls-container {
    display: flex;
    flex-direction: row;
    padding: 0 16px 0 16px;
  }

  .create-custom-markdown-button {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  .create-custom-markdown-button span {
    font-size: 12px;
    font-weight: 800;
    text-transform: capitalize;
  }

  .custom-components-content {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding-bottom: 30px !important;
  }

  .custom-markdown-container {
    position: relative;
  }

  .custom-markdown-container:hover
    .new-component:not(.static):not(.disable-hover) {
    background-color: #e8e8e8b7;
  }

  .markdown-action-button() {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    width: 20px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }

  .edit-custom-markdown-button {
    .markdown-action-button();
    right: 50px;
  }

  .delete-custom-markdown-button {
    .markdown-action-button();
    right: 10px;
  }

  .custom-markdown-container:hover .edit-custom-markdown-button,
  .custom-markdown-container:hover .delete-custom-markdown-button {
    opacity: 1;
  }

  .added-tag {
    position: absolute;
    top: 50%;
    right: 16px;
    height: 25px;
    transform: translateY(-50%);
    width: auto !important;
    border-radius: 4px;
    background: #666666;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    padding: 4px 8px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
    pointer-events: none;
    opacity: 1;
  }

  .custom-markdown-container:hover .added-tag {
    opacity: 0;
  }

  .legacy-components {
    width: 100%;
    padding: 0;
  }

  .legacy-components > .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-left: 59px;
    font-weight: 900;
    color: #626262;
  }
}
